
    body {
    background-color: #f5ffee;
    overflow: hidden;
    margin: 0;
    padding: 0;
    }

    .login-container {
      background: #1bb920;
      max-width: 400px;
      margin: 80px auto;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      position: relative;
    }

    .login-container h3 {
      font-size: 26px;
      text-align: center;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 30px;
      padding-bottom: 5px;
    }
    
    .login-title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }

    .btn-custom {
      background-color: #f8b96c;
      width: 80%;
      padding: 10px;
      border: none;
      border-radius: 50px;
    }
    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom:focus:active {
    background-color: #cf9a59;
    color: white;
    outline: none;
    box-shadow: none;
    }

  